<div class="card">
    <img class="card-img-top" src="http://localhost:50964/uploads/{{item.moviePoster}}" alt="Card image cap">
    <div class="card-body d-flex align-items-center">
        <div class="movie_title">
        <h1 class="title font-weight-bolder"> {{ item.title | slice :0:13 }} {{item.title.length > 13 ? '...' : ''}} <small>({{ item.releaseDate }})</small></h1>
        <small class="text-muted" *ngFor="let gendre of item.movieGendres">{{ gendre.name }} </small>
        </div>
        <span class="rating ml-auto font-weight-bolder"> {{item.raitingAverage}}</span>
    </div>
</div>
