<div class="header_wrapper"></div>
<div class="container-fluid p-0">
  <!-- Header Movie Image -->
  <!-- Main -->
  <div class="container">
    <div class="row">
      <!-- Base Information -->
      {{ singleMovie.title }}
      <span *ngFor="let gendre of singleMovie.movieGendres">{{gendre.name}}</span>
      <button type="button" class="btn btn-danger" (click)="toWishlist()">add to Wishlist </button>
      <!-- List Movie actors -->
      <div class="movie-actors">
        <span *ngFor="let actor of singleMovie.movieActors">{{actor.firstname}} {{actor.lastname}}</span>
        {{ singleMovie.raitingAverage }} {{ singleMovie.nbrRaitings }}
        {{ singleMovie.runtime}} {{singleMovie.releaseDate}}
      </div>
    </div>
  </div>
</div>
